{% extends "account_base.html" %}
{% block title %} User Registration {% endblock %}
{% block content %}
	<div id="container" >
	
		<div id="regform">
		
			{% if regform.errors %}
			
				<p id="erroralarm">
				
					Please correct the error {{regform.errors|pluralize}} below!
				
				</p>
			
			{% endif %}
			
			<form action="" method="post">
			
				<table >
				
					{{regform.as_table}}
					{% csrf_token %}
				
				</table>
				<input type="submit" name="register" value="register">
			
			</form>
		
		</div>
		
		<div id="protocoldiv" style="display:none"></div>
		<div id="logoimg" ></div>
	
	</div>
{% endblock %}